body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0px;
  color: #ffffff;

}

.tariff {
  width: 185px;
  height: 210px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}

.tariff-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tariff-price {
  font-weight: bold;
  margin-bottom: 10px;
}

.tariff-speed,
.tariff-volume {
  margin-bottom: 5px;
}

.big {
  width: 175px;
  padding: 30px;
  font-size: 1.2rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}

.blue {
  background-color: #00acac;
}

.green {
  background-color: #0b9354;
}

.red {
  background-color: #ff5f5f;
}

.black {
  background-color: #2b2720;
}

.tariff-speed,
.tariff-volume {
  font-size: small;
}

.tariff-price {
  font-size: 1.5rem;
}